@import "bootstrap/dist/css/bootstrap.min.css";


body {
    background: rgb(203, 245, 193);
}

.grid {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 96px;
    font-family: "Merriweather", serif;
}


.translate-middle-y {
    margin-left: 250px;
}

.textoDeTurno {
    display: flex;
    justify-content: space-around;
}

p {
    white-space: nowrap;
    font-family: "Merriweather", serif;
    font-size: 35px;
}

.ms-5 {
    margin-right: 50px;
}

#status-game{
    font-size: 200px;
    font-family: "Merriweather", serif;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    background-color: black;
    color: aliceblue;
    z-index: 200;
}


/* .btn{
    margin-top: 15px;
    margin: auto;
} */