@import "bootstrap/dist/css/bootstrap.min.css"; 
<style>

body {
    background: rgb(97, 165, 80);
}


.grid {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 96px;
}


.translate-middle-y{
    margin-left: 250px;
}

p {
    white-space: nowrap;
}